@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #9EDF74, #77BB5E);
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.usuario-admin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.usuario-admin i {
    margin-right: 20px;
    font-size: 20px;
}

.cerrar-sesion {
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #77BB5E;
}

label {
    margin-top: 10px;
    color: #77BB5E;
}

input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #77BB5E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .usuario-admin i {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
    }
}
