@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7ec64b
}

header {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.usuario-admin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.usuario-admin i {
    margin-right: 20px;
    font-size: 20px;
}

.cerrar-sesion {
    cursor: pointer;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.dashboard-button,
.activity-button,
.maestro-button,
.matriz-button {
    background-color: #78b563; /* Cambiado a verde */
    color: rgb(255, 255, 255);
}

button:hover {
    filter: brightness(1.2);
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

form {
    max-width: 100%;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 5px 0;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin-top: -10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.add-user-form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .add-user-form,
    table {
        width: 100%;
        max-width: none;
    }
}
