@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #9EDF74, #77BB5E);
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.usuario-admin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.usuario-admin i {
    margin-right: 20px;
    font-size: 20px;
}

.cerrar-sesion {
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}

nav {
    background-color: #77BB5E;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.barra-contratista {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla th,
.tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla th {
    background-color: #77BB5E;
    color: white;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .usuario-admin i {
        margin-right: 0;
    }

    .table-container {
        overflow-x: auto;
    }
}
